<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
      <div class="navbar-header">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Test Router with Angular 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/first">First Component</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/second">Second Component</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/third">Third Component</a>
          </li>
        </ul>   
      </div>
    </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>
</html>


